<% if (!user) { %>
	<p>Welcome! Please <a href="/auth/eveseat">Login with SeAT</a>.</p>
<% } else { %>
	<p>Hello, <%= user.characterName %> you are logged in.</p>
	<p>View your <a href="/profile">profile</a> or <a href="/logout">logout</a>.</p>
<% } %>
